//COLORS

$color-blue: #2155cd;
$color-blue-primary: #79dae8;
$color-blue-medium: #0aa1dd;
$color-blue-light: #e8f9fd;

$color-white: #f4f4f4;
$color-black: #282727;
$color-grey-light: #a9a8a8;
$color-grey-dark: #444343;

$color-pink: #f68699;
$color-purple: #f35ff3;
